@import url("https://fonts.googleapis.com/css2?family=Alice&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */

:root {
  --background: #faf9f6;
  --foreground: #171717;
}

* {
  /* outline: 1px solid lightgreen; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
::-webkit-scrollbar-track {
  padding-top: 20px;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Alice", "Noto Serif", serif !important;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.795);
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
